body{
	background-color: pink;
	font-family: Helvetica;
	text-align: center;
}
#section	{
	font-size: 30px;
	color: blue;
	font-weight: bold;
}
#problem{
	font-size: 25px;
	color: green;
}

p{
	text-align: left;
}

#img{
	text-align: center;
}

#eg{
	font-weight: bold;
	text-align: left;
}
