body {
	font-family: 'Lobster';
	color: black;
	text-align: center;
	background-size:100% 513%;
	background-repeat:no-repeat;

}

h1{
	border:1px solid black;
	color: blue;
	opacity:0.4;
  	background-color: #ffffff
  	
}
#transbox{
	border:1px solid black;
	opacity:0.6;
  	background-color: #272823;
}

#transbox p {
	color: #000000;
	font-weight: bold;
	font-family: Cambria;
}

#info {
	font-family: Cambria;
	font-weight: bold;
	border: 2px solid black;
	text-align: left;
	background-color: #272823;
	
}
#project{
	font-family: 'Lobster';
	font-weight: bold;
}
