body {
	font-family: 'Lobster';
	color: black;
	text-align: center;
	background-size:100% 150%;
	background-repeat:no-repeat;

}

h1{
	border:1px;
	color: blue;
	opacity:0.4;
  	background-color: #ffffff;
  	
}
p{
	border:1px;
	border-color: black;
	opacity:0.4;
  	background-color: #ffffff;
}

#text{
	color: black;
	font-family: Cambria;
}