body {
	font-family: Cambria;
	color: blue;
	text-align: center;
}

h1 {
	font-size: 48px;
	color: green;
}


h2, h3, h4, h5, h6 {
	font-size: 36px;
	color: orange;
}

#title {
	border-width: 10px;
	margin: 28px;
	border-style: solid;
}

#body {
	border-width: 10px;
	margin: 28px;
	border-style: dashed;
}